{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                    Demo Action
            </div>
            <div class="card-body">
                <hr />

                {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                        {% for error in field.errors %}
                        <li><strong>{{ error }}</strong></li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endif %}

                <form action="{% url 'perform-action' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                            <label for="config-desc">{{form.config.label}}</label><br />
                            {{ form.config }}
                            <small id="config-desc" class="form-text text-muted">{{ form.config.help_text }}</small>
                        </div>

                    <div class="form-group">
                        <label for="user-desc">{{form.user.label}}</label><br />
                        {{ form.user }}
                        <small id="user-desc" class="form-text text-muted">{{ form.user.help_text }}</small>
                    </div>

                    <div class="form-group">
                        <label for="event-desc">{{form.event.label}}</label><br />
                        {{ form.event }}
                        <small id="event-desc" class="form-text text-muted">{{ form.event.help_text }}</small>
                    </div>

                    <div class="form-group">
                        <label for="product-desc">{{form.product.label}}</label><br />
                        {{ form.product }}
                        <small id="product-desc" class="form-text text-muted">{{ form.product.help_text }}</small>
                    </div>

                    <div class="form-group">
                        <label for="page-desc">{{form.page.label}}</label><br />
                        {{ form.page }}
                        <small id="page-desc" class="form-text text-muted">{{ form.page.help_text }}</small>
                    </div>

                    <div class="form-group">
                        <label for="datetime-desc">{{form.datetime.label}}</label><br />
                        {{ form.datetime }}
                        <small id="datetime-desc" class="form-text text-muted">{{ form.datetime.help_text }}</small>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#datetimepicker1").datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
        });
    });
</script>

{% endblock %}