{% extends 'base.html' %}
{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsethis" aria-expanded="false"
    aria-controls="collapsethis">
    Add Audience
</button>
<div class="collapse" id="collapsethis">
    <div class="row justify-content-md-center">
        <div class="col-md-7">
            </p>

            <div class="card">
                <div class="card-header">
                    Audience
                </div>
                <div class="card-body">
                    <hr />

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li><strong>{{ error }}</strong></li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        {% if form.non_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endif %}

                    <form action="{% url 'audience-view' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="name-desc">{{form.name.label}}</label><br />
                            {{ form.name }}
                            <small id="name-desc" class="form-text text-muted">{{ form.name.help_text }}</small>
                        </div>

                        <div class="form-group">
                            <label for="email-desc">{{form.email.label}}</label><br />
                            {{ form.email }}
                            <small id="email-desc" class="form-text text-muted">{{ form.email.help_text }}</small>
                        </div>

                        <div class="form-group">
                            <label for="member_sn-desc">{{form.member_sn.label}}</label><br />
                            {{ form.member_sn }}
                            <small id="member_sn-desc"
                                class="form-text text-muted">{{ form.member_sn.help_text }}</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Member SN</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for audience in audiences %}
        <tr id={{audience.pk}}>
            <td>{{audience.name}}</td>
            <td>{{audience.email}}</td>
            <td>{{audience.member_sn}}</td>
            <td><span class="link-delete-button" onclick="delete_audience('{{audience.pk}}')"><i class="fa fa-trash"></i></span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}