<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{%static 'js/jquery-3.3.1.min.js'%}" type="text/javaScript"></script>
    <title>Web Sandbox</title>
    {{ form.media }}
  </head>
  <body class="{{ body_class }}">
      <hr />
      <div class="container">  
      <nav class="navbar navbar-light bg-light">
            <a class="btn btn-info" href="/settings/"><i class="fas fa-cogs"></i> Settings</a>
            <a class="btn btn-info" href="/action"><i class="fas fa-location-arrow"></i> Demo Action</a>
            <a class="btn btn-info" href="/audience"><i class="fas fa-user-friends"></i> Audience</a>
            <a class="btn btn-info" href="/product"><i class="fas fa-tshirt"></i> Product</a>
            <a class="btn btn-info" href="/page"><i class="fas fa-file"></i> Page</a>
        </nav>
      </div>
    <br />
    <div class="container">  
        <hr />

        {% block content %} {% endblock %}

      <footer>
        <hr />
      </footer>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}" type="text/javaScript"></script>
  </body>
</html>