{% extends 'base.html' %}
{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsethis" aria-expanded="false"
    aria-controls="collapsethis">
    Add Page
</button>
<div class="collapse" id="collapsethis">
    <div class="row justify-content-md-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    Page
                </div>
                <div class="card-body">
                    <hr />

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li><strong>{{ error }}</strong></li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        {% if form.non_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endif %}

                    <form action="{% url 'page-view' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="name-desc">{{form.name.label}}</label><br />
                            {{ form.name }}
                            <small id="name-desc"
                                class="form-text text-muted">{{ form.name.help_text }}</small>
                        </div>

                        <div class="form-group">
                            <label for="url-desc">{{form.url.label}}</label><br />
                            {{ form.url }}
                            <small id="url-desc" class="form-text text-muted">{{ form.url.help_text }}</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Url</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for page in pages %}
        <tr id={{page.pk}}>
            <td>{{page.name}}</td>
            <td>{{page.url}}</td>
            <td><span class="link-delete-button" onclick="delete_page('{{page.pk}}')"><i class="fa fa-trash"></i></span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}