{% extends 'base.html' %}
{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsethis" aria-expanded="false"
    aria-controls="collapsethis">
    Add Product
</button>
<div class="collapse" id="collapsethis">
    <div class="row justify-content-md-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    Product
                </div>
                <div class="card-body">
                    <hr />

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li><strong>{{ error }}</strong></li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        {% if form.non_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endif %}

                    <form action="{% url 'product-view' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="id_product-desc">{{form.id_product.label}}</label><br />
                            {{ form.id_product }}
                            <small id="id_product-desc"
                                class="form-text text-muted">{{ form.id_product.help_text }}</small>
                        </div>

                        <div class="form-group">
                            <label for="name-desc">{{form.name.label}}</label><br />
                            {{ form.name }}
                            <small id="name-desc" class="form-text text-muted">{{ form.name.help_text }}</small>
                        </div>

                        <div class="form-group">
                            <label for="price-desc">{{form.price.label}}</label><br />
                            {{ form.price }}
                            <small id="price-desc" class="form-text text-muted">{{ form.price.help_text }}</small>
                        </div>

                        <div class="form-group">
                            <label for="category-desc">{{form.category.label}}</label><br />
                            {{ form.category }}
                            <small id="category-desc" class="form-text text-muted">{{ form.category.help_text }}</small>
                        </div>

                        <div class="form-group">
                            <label for="variant-desc">{{form.variant.label}}</label><br />
                            {{ form.variant }}
                            <small id="variant-desc" class="form-text text-muted">{{ form.variant.help_text }}</small>
                        </div>

                        <div class="form-group">
                            <label for="url-desc">{{form.url.label}}</label><br />
                            {{ form.url }}
                            <small id="variant-desc" class="form-text text-muted">{{ form.url.help_text }}</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID Product</th>
            <th scope="col">Name</th>
            <th scope="col">Price SN</th>
            <th scope="col">Category</th>
            <th scope="col">Variant</th>
            <th scope="col">Url</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr id={{product.pk}}>
            <td>{{product.id_product}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.variant}}</td>
            <td>{{product.url}}</td>
            <td><span class="link-delete-button" onclick="delete_product('{{product.pk}}')"><i class="fa fa-trash"></i></span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}