{% extends 'base.html' %}
{% block content %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsethis" aria-expanded="false"
    aria-controls="collapsethis">
    Add new configuration
</button>
<div class="collapse" id="collapsethis">
    <div class="row justify-content-md-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    Settings
                </div>
                <div class="card-body">
                    <hr />

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li><strong>{{ error }}</strong></li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        {% if form.non_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endif %}

                    <form action="{% url 'settings-view' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="beacon_host-desc">{{form.beacon_host.label}}</label><br />
                            {{ form.beacon_host }}
                            <small id="beacon_host-desc"
                                class="form-text text-muted">{{ form.beacon_host.help_text }}</small>
                        </div>

                        <div class="form-group">
                            <label for="tracking_id-desc">{{form.tracking_id.label}}</label><br />
                            {{ form.tracking_id }}
                            <small id="tracking_id-desc" class="form-text text-muted">{{ form.tracking_id.help_text }}</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Beacon Host</th>
            <th scope="col">Tracking ID</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for setting in settings %}
        <tr>
            <td>{{setting.beacon_host}}</td>
            <td>{{setting.tracking_id}}</td>
            <td><a href="#"><i class="fa fa-trash"></i></a> | <a href="#"><i class="fa fa-edit"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}